<form class="ictech-account-carts__modal" hidden data-ictech-address-modal>
    <div class="ictech-account-carts__modal-dialog">
        <h3>{{ 'ictech-multi-cart.account.addressModalTitle'|trans }}</h3>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressFirstName'|trans }} <span class="is-required">*</span></label>
            <input class="ictech-account-carts__input" type="text" name="firstName" required>
        </div>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressLastName'|trans }} <span class="is-required">*</span></label>
            <input class="ictech-account-carts__input" type="text" name="lastName" required>
        </div>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressStreet'|trans }} <span class="is-required">*</span></label>
            <input class="ictech-account-carts__input" type="text" name="street" required>
        </div>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressZipcode'|trans }} <span class="is-required">*</span></label>
            <input class="ictech-account-carts__input" type="text" name="zipcode" required>
        </div>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressCity'|trans }} <span class="is-required">*</span></label>
            <input class="ictech-account-carts__input" type="text" name="city" required>
        </div>
        <div class="ictech-account-carts__field">
            <label>{{ 'ictech-multi-cart.account.addressCountry'|trans }} <span class="is-required">*</span></label>
            <select class="ictech-account-carts__select" name="countryId" required>
                {% for country in ictechMultiCartPage.options.countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="cartId" value="" data-ictech-address-cart-id>
        <input type="hidden" name="targetField" value="" data-ictech-address-target-field>
        <p class="ictech-account-carts__promo-feedback" hidden data-ictech-address-feedback></p>
        <div class="ictech-account-carts__modal-actions">
            <button type="button" class="ictech-account-carts__btn ictech-account-carts__btn--ghost" data-ictech-modal-close>{{ 'ictech-multi-cart.account.cancel'|trans }}</button>
            <button type="submit" class="ictech-account-carts__btn ictech-account-carts__btn--primary">{{ 'ictech-multi-cart.account.addressCreate'|trans }}</button>
        </div>
    </div>
</form>
