{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block page_checkout_finish_details %}
    {{ parent() }}

    {% if not context.customer.guest %}
        <div class="card checkout-card mt-3">
            <div class="card-body d-grid gap-2 d-md-flex gap-md-2 justify-content-md-start" style="margin-bottom: 10px;">
                <a href="{{ path('frontend.home.page') }}" class="btn btn-outline-primary">
                    {{ 'ictech-multi-cart.finish.goHome'|trans }}
                </a>
                <a href="{{ path('frontend.ictech.multi_cart.account.page') }}" class="btn btn-primary">
                    {{ 'ictech-multi-cart.finish.goMyCarts'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
